.posterCard {
  transition: box-shadow 200ms ease-in;

  &:hover {
    z-index: 2;
    box-shadow: 0 0 12px var(--black);
  }
}

.link {
  composes: link from '~Components/Link/Link.css';

  display: block;
}

.link:hover,
.link:focus {
  text-decoration: none;
}
