.info {
  padding: 8px 10px 12px;
  background-color: var(--cardBackgroundColor);
  text-align: center;
}

.title {
  @add-mixin truncate;

  color: var(--textColor);
  font-size: $smallFontSize;
}

.status,
.publisher,
.meta {
  @add-mixin truncate;

  margin-top: 2px;
  font-size: $smallFontSize;
}

.status {
  font-weight: 600;
}

.publisher,
.meta {
  color: var(--dimColor);
}

.monitored {
  color: var(--textColor);
}

.unmonitored {
  color: var(--dimColor);
}
